@import 'reset';
@import 'vars';

body {
    background-color: $gray;
}
h1, h2, h3, h4, p {
    font-family:Arial, Helvetica, sans-serif;
}
h1, h2 {
    color: $white;
}
h3, h4 {
    color: $purple;
}
h1 {
    font-size: 1.375rem;
    padding: 0 0 0.625rem 0;
}
h2 {
    padding: 0 0 0.625rem 0;
}
h4 {
    font-size: 1.1875rem;
    font-weight: bold;
}

#container {
    position:relative;
    .component-container {
        position:relative;
        width:$core-width;
        height:$core-height;
        background-color:$white;
        .container-upper, .container-lower {
            position:relative;
            height:$mid-height;
        }
        .container-upper {
            box-sizing: border-box;
            padding:16px 16px;
            background-repeat: no-repeat;
            background-image: url(resources/images/background.png);
            background-position: bottom right;
            .player-select {
                .select-box {
                    display: block;
                    font-size: 16px;
                    font-family: Arial;
                    line-height: 1.3;
                    padding: .5em 1.4em .5em .8em;
                    width: 100%;
                    max-width: 100%;
                    box-sizing: border-box;
                    margin: 0;
                    -moz-appearance: none;
                    -webkit-appearance: none;
                    appearance: none;
                    border: none;
                    border-radius: 0;
                    background-color: $gray;
                    background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 129 129' xmlns:xlink='http://www.w3.org/1999/xlink' enable-background='new 0 0 129 129'%3E%3Cg%3E%3Cpath d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z'/%3E%3C/g%3E%3C/svg%3E%0A");
                    background-repeat: no-repeat, repeat;
                    background-position: right .7em top 50%, 0 0;
                    background-size: .65em auto, 100%;
                }
            }
            .player-image-container {
                position:absolute;
                bottom:0;
                left:0;
                img {
                    display: block;
                }
            }
        }
        .container-lower {
            padding:0.875rem 1rem;
            background-color:$red;
            box-sizing: border-box;
            .player-stats {
                margin: 0.625rem 0 0 0;
                .stats-box {
                    padding:0.625rem 0.8125rem;
                    margin:0 0 2px 0;
                    background-color: $white;
                    & > * {
                        display: inline-block;
                    }
                    h4 {
                        float: right;
                    }
                }
            }
        }
        #logo-spritesheet {
            background: #fff;
            border-radius: 40px;
            width: 80px;
            height: 80px;
            overflow: hidden;
            background-image: url(resources/images/badges_sprite.png);
            background-position: -400px -800px;
            position: absolute;
            right: 20px;
            top: 260px;
        }
    }
}